<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
    <div class="navbar">
        <a class="nav-btn" onclick="about()">About<div class="dropdown">Here You can read a little about myself</div></a>
        <a class="nav-btn current" onclick="achievements()">Achievements<div class="dropdown">You are here now</div></a>
        <a class="nav-btn" onclick="contact()">Contact me<div class="dropdown">If You have any questions or just want to talk about education, use the form in this section</div></a>
    </div>
    <form action="/about" method="get">
        <input type="submit" name="about" hidden>
      </form>
      <form action="/achievements" method="get">
        <input type="submit" name="achievements" hidden>
      </form>
      <form action="/contact_me" method="get">
        <input type="submit" name="contact" hidden>
      </form>
      <script>
        function about() {
          document.querySelector('[name="about"]').click()
        }
        function achievements() {
          document.querySelector('[name="achievements"]').click()
        }
        function contact() {
          document.querySelector('[name="contact"]').click()
        }
      </script>
</body>
</html>