<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/styles.css' />
</head>
<body>
  <div class="background">
    <div class="flex-col">
      <div class="heading">Welcome to my first website</div>
      <div class="heading">I hope you will enjoy it</div>
      <button class="next-btn"><a class="next-btn" href="http://localhost:3000/about">Go next</a></button>
    </div>
  </div>
</body>

</html>